Makefile
*.pch
*.o
*.a
*.so
*.exe
git.hpp
/tests/math/calculate_e/calculate_e
/tests/math/calculate_pi/calculate_pi
/tests/interpreter/primitive/primitive_run/primitive_run
/tests/compiler/logic/logic_run/logic_run
*.un~


